Repository rshaibakov/todoria: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:type, yarn lint:script, yarn lint:style

ci(test): setup action
  .github/workflows/test.yml
  package.json
Due: none

ci(test): check action
  src/components/HelloWorld.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

ci(yarn): edit installing
  .github/workflows/release.yml
  .github/workflows/test.yml
  package.json
Due: none

ci(yarn): edit installing
  .github/workflows/release.yml
  .github/workflows/test.yml
  .yarn/cache/@sinclair-typebox-npm-0.25.23-bbfe1ecb40-5720daec6e.zip
  .yarn/cache/@sinclair-typebox-npm-0.25.24-d04d0f45ef-10219c58f4.zip
  .yarn/cache/@types-node-npm-18.14.0-ddc1a221d2-d83fcf5e4e.zip
  .yarn/cache/@types-node-npm-18.14.1-39865d8170-58556bbdb0.zip
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: none

chore(test): remove file transformer
  test/file-transformer.ts
Due: none

feat(router): install deps
  .yarn/cache/@bcoe-v8-coverage-npm-0.2.3-9e27b3c57e-850f930553.zip
  .yarn/cache/@vitest-coverage-c8-npm-0.28.5-2207360644-da7168da8d.zip
  .yarn/cache/@vue-devtools-api-npm-6.5.0-0dc0468299-ec819ef3a4.zip
  .yarn/cache/c8-npm-7.13.0-9ac8f17e2c-491abf4cf3.zip
  .yarn/cache/foreground-child-npm-2.0.0-80c976b61e-f77ec9aff6.zip
  .yarn/cache/v8-to-istanbul-npm-9.1.0-04cd324682-2069d59ee4.zip
  .yarn/cache/vue-router-npm-4.1.6-ccab7109e1-c7f0156ac0.zip
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: none

style(eslint): edit rules
  .eslintrc
  index.html
Due: none

test(app): disable test
  src/App.test.ts
Due: yarn lint:type, yarn lint:script

feat(router): add config
  src/main.ts
  src/router.ts
Due: yarn lint:type, yarn lint:script

chore(style): reset styles
  src/style.css
Due: yarn lint:style

chore(hello world): remove component
  src/components/HelloWorld.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

feat(sign in): add component
  src/App.vue
  src/pages/Auth.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

feat(sign out): add
  src/pages/Home.test.ts
  src/pages/Home.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

chore(vue logo): remove
  src/assets/vue.svg
Due: none

chore(store): setup
  .yarn/cache/pinia-npm-2.0.32-409de922a9-cd02a7cb85.zip
  .yarn/cache/vue-demi-npm-0.13.11-3e74f92dc7-0fbe9bf8ab.zip
  .yarn/install-state.gz
  package.json
  src/main.ts
  yarn.lock
Due: yarn lint:type, yarn lint:script

feat(store): add user store
  src/stores/user.ts
Due: yarn lint:type, yarn lint:script

fix(sign out): loading
  src/pages/Home.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

feat(sign in): move in router from app
  src/App.vue
  src/router.ts
Due: yarn lint:type, yarn lint:script, yarn lint:style

feat(sign out): move in store from home
  src/pages/Home.vue
  src/stores/user.ts
Due: yarn lint:type, yarn lint:script, yarn lint:style

feat(sign in): move in store from auth
  src/pages/Auth.vue
  src/pages/Home.vue
  src/stores/user.ts
Due: yarn lint:type, yarn lint:script, yarn lint:style

build(tailwind): install and setup
  .stylelintrc
  .yarn/cache/acorn-node-npm-1.8.2-b30b72c499-02e1564a1c.zip
  .yarn/cache/acorn-npm-7.4.1-f450b4646c-1860f23c21.zip
  .yarn/cache/acorn-walk-npm-7.2.0-5f8b515308-9252158a79.zip
  .yarn/cache/arg-npm-5.0.2-2f5805a547-6c69ada1a9.zip
  .yarn/cache/autoprefixer-npm-10.4.13-261edbcee5-dcb1cb7ae9.zip
  .yarn/cache/camelcase-css-npm-2.0.1-90d1b6df08-1cec2b3b3d.zip
  .yarn/cache/defined-npm-1.0.1-7471d27847-b1a852300b.zip
  .yarn/cache/detective-npm-5.2.1-6417517bd5-dc4601bbc6.zip
  .yarn/cache/didyoumean-npm-1.2.2-fd568ec571-d5d98719d5.zip
  .yarn/cache/dlv-npm-1.1.3-187c903a21-d7381bca22.zip
  .yarn/cache/fraction.js-npm-4.2.0-28efe4afc7-8c76a6e21d.zip
  .yarn/cache/lilconfig-npm-2.0.6-6231346eaf-40a3cd72f1.zip
  .yarn/cache/object-hash-npm-3.0.0-d941e0cabe-80b4904bb3.zip
  .yarn/cache/pify-npm-2.3.0-8b63310934-9503aaeaf4.zip
  .yarn/cache/postcss-import-npm-14.1.0-fa5b457156-cd45d406e9.zip
  .yarn/cache/postcss-js-npm-4.0.1-2c4ee70bf3-5c1e83efea.zip
  .yarn/cache/postcss-load-config-npm-3.1.4-1cb8a7e276-1c589504c2.zip
  .yarn/cache/postcss-nested-npm-6.0.0-161af1b204-2105dc52cd.zip
  .yarn/cache/quick-lru-npm-5.1.1-e38e0edce3-a516faa255.zip
  .yarn/cache/read-cache-npm-1.0.0-00fa89ed05-cffc728b9e.zip
  .yarn/cache/tailwindcss-npm-3.2.7-5b16c87f75-819446bf67.zip
  .yarn/install-state.gz
  package.json
  postcss.config.cjs
  tailwind.config.cjs
  yarn.lock
Due: none

feat(sign in): add style
  src/App.vue
  src/pages/Auth.vue
  src/pages/Home.vue
  src/style.css
Due: yarn lint:type, yarn lint:script, yarn lint:style

build(test): setup render
  .yarn/cache/@pinia-testing-npm-0.0.15-6e6675670a-5b328de675.zip
  .yarn/install-state.gz
  package.json
  src/router.ts
  test/setup.ts
  yarn.lock
Due: yarn lint:type, yarn lint:script

test(home): add
  src/pages/Home.test.ts
  src/pages/Home.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

test(auth): add data test ids
  src/pages/Auth.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

chore(ts): update config
  tsconfig.json
  tsconfig.node.json
Due: none

chore(vitest): add todo
  vitest.config.ts
Due: none

test(auth): add tests
  src/pages/Auth.test.ts
Due: yarn lint:type, yarn lint:script

style(home): format tests
  src/pages/Home.test.ts
Due: yarn lint:type, yarn lint:script

chore(vitest): setup files for coverage
  vitest.config.ts
Due: none

ci(actions): add env fo tests
  .github/workflows/test.yml
Due: none

ci(test): debug env
  src/db.ts
Due: yarn lint:type, yarn lint:script

ci(test): debug env
  .github/workflows/test.yml
Due: none

ci(actions): set env fo tests
  .github/workflows/test.yml
Due: none

ci(test): delete console.log
  src/db.ts
Due: yarn lint:type, yarn lint:script

ci(vercel): setup routes
  vercel.json
Due: none

ci(supabase): add runner for update db types
  .github/workflows/types.yml
  package.json
Due: none

Path conditions:
  yarn lint:type: any of: src/**/*.{ts,tsx,vue}
  yarn lint:script: any of: src/**/*.{ts,tsx,vue}
  yarn lint:style: any of: src/**/*.{css,vue}
