Repository rshaibakov/todoria: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:type, yarn lint:script, yarn lint:style

chore: remove utils
  src/utils.ts
  test/setup.ts
Due: yarn lint:type, yarn lint:script

test(currentSprint): modify
  src/features/CurrentSprint/CurrentSprint.test.ts
  src/stores/tasks.ts
Due: yarn lint:type, yarn lint:script

test(currentSprint): modify
  src/features/CurrentSprint/CurrentSprint.test.ts
Due: yarn lint:type, yarn lint:script

refactor(tests): modify setup and decompose tests
  src/features/CurrentSprint/CurrentSprint.test.ts
  src/features/CurrentSprint/tests/__mocks__.ts
  src/features/CurrentSprint/tests/__setup__.ts
  src/features/CurrentSprint/tests/addTask.test.ts
  src/features/CurrentSprint/tests/updateTask.test.ts
  src/features/CurrentSprint/tests/viewCurrentSprint.test.ts
  src/pages/Auth.test.ts
  src/pages/Home.test.ts
  test/setup.ts
  tsconfig.json
  tsconfig.node.json
Due: yarn lint:type, yarn lint:script

refactor(tests): modify render and queries
  src/features/CurrentSprint/tests/addTask.test.ts
  src/features/CurrentSprint/tests/updateTask.test.ts
  src/features/CurrentSprint/tests/viewCurrentSprint.test.ts
Due: yarn lint:type, yarn lint:script

chore(vitest): add reporters
  vitest.config.ts
Due: none

test(currentSprint): add tasks elements tests
  src/features/CurrentSprint/components/Task.vue
  src/features/CurrentSprint/tests/__mocks__.ts
  src/features/CurrentSprint/tests/viewCurrentSprint.test.ts
Due: yarn lint:type, yarn lint:script, yarn lint:style

refactor(tasks): move sort tasks function
  src/stores/tasks.ts
Due: yarn lint:type, yarn lint:script

test(taskForm): modify data-test-id
  src/features/CurrentSprint/components/TaskForm.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

test(currentSprint): modify tests for create task
  src/features/CurrentSprint/tests/__mocks__.ts
  src/features/CurrentSprint/tests/addTask.test.ts
  src/features/CurrentSprint/tests/updateTask.test.ts
  src/features/CurrentSprint/tests/viewCurrentSprint.test.ts
Due: yarn lint:type, yarn lint:script

chore(vitest): upgrade dep
  .yarn/cache/@jridgewell-sourcemap-codec-npm-1.4.15-a055fb62cf-b881c7e503.zip
  .yarn/cache/@types-chai-npm-4.3.5-dce79013f2-c8f26a88c6.zip
  .yarn/cache/@vitest-expect-npm-0.32.2-c9e453b029-e16ef72d6e.zip
  .yarn/cache/@vitest-runner-npm-0.32.2-3bcdf8ca0e-6ce62f6f30.zip
  .yarn/cache/@vitest-snapshot-npm-0.32.2-4dc69f7e3b-94f12fadec.zip
  .yarn/cache/@vitest-spy-npm-0.32.2-a69c71172a-e516872c79.zip
  .yarn/cache/@vitest-utils-npm-0.32.2-1846c6b1f5-d4bc065875.zip
  .yarn/cache/blueimp-md5-npm-2.19.0-0a19585c8c-28095dcbd2.zip
  .yarn/cache/concordance-npm-5.0.4-e641405dd9-749153ba71.zip
  .yarn/cache/date-time-npm-3.1.0-50f6af7aef-f9cfcd1b15.zip
  .yarn/cache/fast-diff-npm-1.3.0-9f19e3b743-d22d371b99.zip
  .yarn/cache/js-string-escape-npm-1.0.1-8b8d76add3-f11e0991bf.zip
  .yarn/cache/magic-string-npm-0.30.0-20d8e0b6e4-7bdf22e273.zip
  .yarn/cache/md5-hex-npm-3.0.1-d9f5f267ed-6799a19e8b.zip
  .yarn/cache/mlly-npm-1.3.0-b7a26d6b98-aea2a99131.zip
  .yarn/cache/pkg-types-npm-1.0.3-dce22a705c-4b305c834b.zip
  .yarn/cache/std-env-npm-3.3.3-be4786d5a0-6665f6d8bd.zip
  .yarn/cache/time-zone-npm-1.0.0-0522e3467f-e46f5a69b8.zip
  .yarn/cache/tinybench-npm-2.5.0-a523c3609f-284bb9428f.zip
  .yarn/cache/tinypool-npm-0.5.0-f0c857eb2f-4e0dfd8f28.zip
  .yarn/cache/tinyspy-npm-2.1.1-8a86bb2e37-cfe669803a.zip
  .yarn/cache/ufo-npm-1.1.2-8d6433358e-83c940a6a2.zip
  .yarn/cache/vite-node-npm-0.32.2-84908bbb86-9573fe707d.zip
  .yarn/cache/vitest-npm-0.32.2-767a70d6af-6679edb1ed.zip
  .yarn/cache/well-known-symbols-npm-2.0.0-16fb8dedc6-4f54bbc301.zip
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: none

test(currentSprint): add error handler
  src/features/CurrentSprint/components/Summary.vue
  src/features/CurrentSprint/components/Task.vue
  src/features/CurrentSprint/components/TaskForm.vue
  src/features/CurrentSprint/tests/createTask.test.ts
  src/main.ts
  test/setup.ts
Due: yarn lint:type, yarn lint:script, yarn lint:style

feat(task): add updated task revert
  src/stores/tasks.ts
Due: yarn lint:type, yarn lint:script

test(currentSprint): modify task update
  src/features/CurrentSprint/tests/__setup__.ts
  src/features/CurrentSprint/tests/updateTask.test.ts
  test/setup.ts
Due: yarn lint:type, yarn lint:script

feat(currentSprint): add animate tasks
  src/features/CurrentSprint/components/Summary.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

style(db): fix quotes
  src/db.types.ts
Due: yarn lint:type, yarn lint:script

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  54c4aa25a86e8df9370f8edbd3a281747d0b18ba
Due: none

feat(button): add red style button
  src/style.css
Due: yarn lint:style

fix(taskForm): paddings
  src/features/CurrentSprint/components/Task.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

feat(taskForm): add remove button
  src/features/CurrentSprint/components/TaskForm.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

refactor(taskForm): rename delete instead remove
  src/features/CurrentSprint/components/TaskForm.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

build(vue): update
  .yarn/cache/@babel-parser-npm-7.22.7-7fbdf28552-02209ddbd4.zip
  .yarn/cache/@vue-compiler-core-npm-3.3.4-e514bded25-5437942ea6.zip
  .yarn/cache/@vue-compiler-dom-npm-3.3.4-029250af79-1c2ac0c89d.zip
  .yarn/cache/@vue-compiler-sfc-npm-3.3.4-783aff746b-0a0adfdd3e.zip
  .yarn/cache/@vue-compiler-ssr-npm-3.3.4-9c5036c29f-5d1875d55e.zip
  .yarn/cache/@vue-reactivity-npm-3.3.4-4bb841d3a9-81c3d0c587.zip
  .yarn/cache/@vue-reactivity-transform-npm-3.3.4-bfbf394bf7-b425e78b20.zip
  .yarn/cache/@vue-runtime-core-npm-3.2.47-d5ec5c27c7-56fd41368c.zip
  .yarn/cache/@vue-runtime-core-npm-3.3.4-4a56fcce5e-d402da5126.zip
  .yarn/cache/@vue-runtime-dom-npm-3.2.47-da74228cd1-8987d72761.zip
  .yarn/cache/@vue-runtime-dom-npm-3.3.4-554b8c4277-dac9ada7f6.zip
  .yarn/cache/@vue-server-renderer-npm-3.3.4-75b963f24d-e8598ed1a4.zip
  .yarn/cache/@vue-shared-npm-3.3.4-76d250afa2-12fe53ff81.zip
  .yarn/cache/csstype-npm-2.6.21-49408157d8-2ce8bc8323.zip
  .yarn/cache/csstype-npm-3.1.2-cead7d99b2-e1a52e6c25.zip
  .yarn/cache/vue-npm-3.2.47-487db916e1-3b586f61fd.zip
  .yarn/cache/vue-npm-3.3.4-174fadbea4-58b6c62a66.zip
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: none

feat(dialog): add component
  src/components/Dialog/Dialog.vue
  src/components/Dialog/DialogConfirm.vue
  src/components/Dialog/index.ts
  src/features/CurrentSprint/components/TaskForm.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

build(vite): add svg loader
  .yarn/cache/@trysound-sax-npm-0.2.0-9f763d0295-11226c39b5.zip
  .yarn/cache/commander-npm-7.2.0-19178180f8-53501cbeee.zip
  .yarn/cache/css-select-npm-5.1.0-9365a79de5-2772c049b1.zip
  .yarn/cache/css-tree-npm-2.2.1-ee98ac48a8-b94aa8cc2f.zip
  .yarn/cache/css-tree-npm-2.3.1-6540d78e26-493cc24b5c.zip
  .yarn/cache/css-what-npm-6.1.0-57f751efbb-b975e547e1.zip
  .yarn/cache/csso-npm-5.0.5-b21e2a8b65-0ad858d36b.zip
  .yarn/cache/mdn-data-npm-2.0.28-9e644d5992-f51d587a6e.zip
  .yarn/cache/mdn-data-npm-2.0.30-bf7b39c09a-d6ac5ac743.zip
  .yarn/cache/svgo-npm-3.0.2-c4a041dc0f-381ba14aa7.zip
  .yarn/cache/vite-svg-loader-npm-4.0.0-613b09fc70-2363054b33.zip
  .yarn/install-state.gz
  package.json
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: none

feat(dialog): add style and decompose
  src/assets/icons/close.svg
  src/components/Dialog/Dialog.vue
  src/components/Dialog/DialogConfirm.vue
  src/components/Dialog/DialogContent.vue
  src/components/Dialog/DialogFooter.vue
  src/components/Dialog/DialogHeader.vue
  src/features/CurrentSprint/components/TaskForm.vue
  src/style.css
Due: yarn lint:type, yarn lint:script, yarn lint:style

feat(task): add deleting
  src/components/Dialog/DialogConfirm.vue
  src/components/Dialog/DialogHeader.vue
  src/components/Dialog/index.ts
  src/features/CurrentSprint/components/TaskForm.vue
  src/stores/tasks.ts
Due: yarn lint:type, yarn lint:script, yarn lint:style

feat(task): add accessability
  src/features/CurrentSprint/components/Task.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

refactor: add todo comments
  src/features/CurrentSprint/CurrentSprint.vue
  src/features/CurrentSprint/components/TaskForm.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

refactor(icon): add svg sprite
  index.html
  src/components/Dialog/DialogHeader.vue
  src/components/Icon/Icon.vue
  src/components/Icon/index.ts
  tsconfig.json
Due: yarn lint:type, yarn lint:script, yarn lint:style

refactor(vite): remove svg loader
  .yarn/cache/@trysound-sax-npm-0.2.0-9f763d0295-11226c39b5.zip
  .yarn/cache/commander-npm-7.2.0-19178180f8-53501cbeee.zip
  .yarn/cache/css-select-npm-5.1.0-9365a79de5-2772c049b1.zip
  .yarn/cache/css-tree-npm-2.2.1-ee98ac48a8-b94aa8cc2f.zip
  .yarn/cache/css-tree-npm-2.3.1-6540d78e26-493cc24b5c.zip
  .yarn/cache/css-what-npm-6.1.0-57f751efbb-b975e547e1.zip
  .yarn/cache/csso-npm-5.0.5-b21e2a8b65-0ad858d36b.zip
  .yarn/cache/mdn-data-npm-2.0.28-9e644d5992-f51d587a6e.zip
  .yarn/cache/mdn-data-npm-2.0.30-bf7b39c09a-d6ac5ac743.zip
  .yarn/cache/svgo-npm-3.0.2-c4a041dc0f-381ba14aa7.zip
  .yarn/cache/vite-svg-loader-npm-4.0.0-613b09fc70-2363054b33.zip
  .yarn/install-state.gz
  package.json
  src/assets/icons/close.svg
  vite.config.ts
  yarn.lock
Due: none

feat(dialog): add close when click outside
  src/components/Dialog/Dialog.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

feat(dialog): add box shadow
  src/components/Dialog/Dialog.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

test(task): add draft for delete
  src/components/Dialog/DialogConfirm.vue
  src/features/CurrentSprint/tests/deleteTask.test.ts
Due: yarn lint:type, yarn lint:script, yarn lint:style

chore(db): fix types
  src/db.types.ts
Due: yarn lint:type, yarn lint:script

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  78249d296bd0e757d4bd5dc71d6db563ff0be7c3
Due: none

Path conditions:
  yarn lint:type: any of: src/**/*.{ts,tsx,vue}
  yarn lint:script: any of: src/**/*.{ts,tsx,vue}
  yarn lint:style: any of: src/**/*.{css,vue}
