Repository rshaibakov/todoria: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:type, yarn lint:script, yarn lint:style

.lintstagedrc:

{
  "src/**/*.{ts,tsx,vue}": [
    "yarn lint:type",
    "yarn lint:script"
  ],
  "src/**/*.{css,vue}": "yarn lint:style"
}

build(msw): add mock service
  .yarn/cache/@mswjs-cookies-npm-0.2.2-fdd3f4ab67-23b1ef56d5.zip
  .yarn/cache/@mswjs-interceptors-npm-0.17.9-209f8a4795-4df726cbee.zip
  .yarn/cache/@open-draft-until-npm-1.0.3-c0d6a46a29-323e92ebef.zip
  .yarn/cache/@types-cookie-npm-0.4.1-274a704dc6-3275534ed6.zip
  .yarn/cache/@types-debug-npm-4.1.7-f54c81f8db-0a7b89d8ed.zip
  .yarn/cache/@types-js-levenshtein-npm-1.1.1-304aa359d0-1d1ff1ee2a.zip
  .yarn/cache/@types-ms-npm-0.7.31-ea3b89342b-daadd354ae.zip
  .yarn/cache/@types-set-cookie-parser-npm-2.4.2-eb947592c8-c31bf04eb9.zip
  .yarn/cache/@xmldom-xmldom-npm-0.8.6-babebbf6e9-f17ac6d99a.zip
  .yarn/cache/@zxing-text-encoding-npm-0.9.0-8426ff59e9-c23b12aee7.zip
  .yarn/cache/chalk-npm-4.1.1-f1ce6bae57-036e973e66.zip
  .yarn/cache/cookie-npm-0.4.2-7761894d5f-a00833c998.zip
  .yarn/cache/events-npm-3.3.0-c280bc7e48-f6f487ad21.zip
  .yarn/cache/graphql-npm-16.6.0-301c470966-bf1d9e3c19.zip
  .yarn/cache/headers-polyfill-npm-3.1.2-da04988de4-510ca9637e.zip
  .yarn/cache/is-generator-function-npm-1.0.10-1d0f3809ef-d54644e7db.zip
  .yarn/cache/is-node-process-npm-1.2.0-34f2abe8e1-930765cdc6.zip
  .yarn/cache/js-levenshtein-npm-1.1.6-ab883e61a3-409f052a7f.zip
  .yarn/cache/msw-npm-1.2.1-090ef24416-97b9c5ffc8.zip
  .yarn/cache/outvariant-npm-1.4.0-6334bd272b-ec32dfc315.zip
  .yarn/cache/path-to-regexp-npm-6.2.1-8ebfe03654-f0227af828.zip
  .yarn/cache/set-cookie-parser-npm-2.6.0-a7dd154236-bf11ebc594.zip
  .yarn/cache/strict-event-emitter-npm-0.2.8-e8b9131760-6ac06fe72a.zip
  .yarn/cache/strict-event-emitter-npm-0.4.6-b845d23c7d-4f4f290961.zip
  .yarn/cache/type-fest-npm-2.19.0-918b953248-a4ef07ece2.zip
  .yarn/cache/util-npm-0.12.5-3668276f26-705e51f0de.zip
  .yarn/cache/web-encoding-npm-1.1.5-d5a3c7dc3d-2234a2b122.zip
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: none

chore(supabase): add types
  src/db.ts
Due: yarn lint:type, yarn lint:script

build(dayjs): install
  .yarn/cache/dayjs-npm-1.11.7-d5cd5b2919-5003a7c1dd.zip
  .yarn/install-state.gz
  package.json
  tsconfig.json
  yarn.lock
Due: none

test(currentSprint): add tests
  src/features/CurrentSprint/CurrentSprint.test.ts
Due: yarn lint:type, yarn lint:script

feat(currentSprint): show days
  src/db.types.ts
  src/features/CurrentSprint/CurrentSprint.vue
  src/pages/Home.vue
  src/stores/sprints.ts
Due: yarn lint:type, yarn lint:script, yarn lint:style

fix(currentSprint): remove old list
  src/features/CurrentSprint/CurrentSprint.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

feat(currentSprint): add grid template
  src/App.vue
  src/pages/Home.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

feat(dayjs): add ru locale
  src/main.ts
Due: yarn lint:type, yarn lint:script

feat(currentSprint): display short info
  .yarn/install-state.gz
  src/features/CurrentSprint/CurrentSprint.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

fix(currentSprint): add reactive for duration
  src/features/CurrentSprint/CurrentSprint.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

test(currentSprint): add test for duration
  src/features/CurrentSprint/CurrentSprint.test.ts
Due: yarn lint:type, yarn lint:script

chore(tests): add todo
  src/pages/Auth.test.ts
  src/pages/Home.test.ts
Due: yarn lint:type, yarn lint:script

build(supabase): update depend
  .yarn/cache/@supabase-functions-js-npm-2.0.0-77ee913eb0-023d1bf17a.zip
  .yarn/cache/@supabase-functions-js-npm-2.1.1-4820841500-a8b74726e5.zip
  .yarn/cache/@supabase-gotrue-js-npm-2.12.1-e321ca8c64-f04306f18e.zip
  .yarn/cache/@supabase-gotrue-js-npm-2.25.0-05e5b5ace0-ace3fadd54.zip
  .yarn/cache/@supabase-realtime-js-npm-2.6.0-7e7170aaca-3a3b696a02.zip
  .yarn/cache/@supabase-realtime-js-npm-2.7.2-5575f52ae4-0d6071991d.zip
  .yarn/cache/@supabase-storage-js-npm-2.3.0-5daf088d75-1b2b01f833.zip
  .yarn/cache/@supabase-storage-js-npm-2.5.1-268be17a9f-bff8673f7c.zip
  .yarn/cache/@supabase-supabase-js-npm-2.21.0-89b31fb1ce-806beaf543.zip
  .yarn/cache/@supabase-supabase-js-npm-2.8.0-de9693527e-36a7423477.zip
  .yarn/cache/@types-websocket-npm-1.0.5-201ddc7023-41c7a620f8.zip
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: none

chore(supabase): fix types
  src/db.types.ts
Due: yarn lint:type, yarn lint:script

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  63eede301f78b749583f5f9d9d53a563e21b8e2f
Due: none

feat(store): add store for tasks
  src/stores/sprints.ts
  src/stores/tasks.ts
Due: yarn lint:type, yarn lint:script

feat(tasks): display tasks
  src/features/CurrentSprint/CurrentSprint.vue
  src/features/CurrentSprint/CurrentSprintSummary.vue
  src/features/CurrentSprint/CurrentSprintTask.vue
  src/features/CurrentSprint/CurrentSprintTasks.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

refactor(currentSprint): decompose components
  src/features/CurrentSprint/CurrentSprint.vue
  src/features/CurrentSprint/CurrentSprintTasks.vue
  src/features/CurrentSprint/components/Summary.vue
  src/features/CurrentSprint/components/Task.vue
  src/features/CurrentSprint/components/index.ts
Due: yarn lint:type, yarn lint:script, yarn lint:style

test(tasks): add test
  src/features/CurrentSprint/CurrentSprint.test.ts
Due: yarn lint:type, yarn lint:script

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  c058419b611218be3285fdbd93b153732f8e8092
Due: none

fix(ui): fix styles
  src/style.css
Due: yarn lint:style

fix(ui): fix styles for buttons
  src/pages/Auth.vue
  src/pages/Home.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

feat(tasks): add button for create task
  src/features/CurrentSprint/components/Summary.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

feat(tasks): add form for create task
  src/features/CurrentSprint/components/Summary.vue
  src/features/CurrentSprint/components/TaskForm.vue
  src/features/CurrentSprint/components/index.ts
Due: yarn lint:type, yarn lint:script, yarn lint:style

feat(tasks): add placeholders for fields
  src/features/CurrentSprint/components/TaskForm.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

feat(tasks): form cancel
  src/features/CurrentSprint/components/Summary.vue
  src/features/CurrentSprint/components/TaskForm.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

feat(tasks): add save task
  src/features/CurrentSprint/components/TaskForm.vue
  src/stores/tasks.ts
  src/stores/user.ts
Due: yarn lint:type, yarn lint:script, yarn lint:style

feat(tasks): add handler for create task
  src/features/CurrentSprint/components/Summary.vue
  src/features/CurrentSprint/components/Task.vue
  src/features/CurrentSprint/components/TaskForm.vue
  src/stores/tasks.ts
Due: yarn lint:type, yarn lint:script, yarn lint:style

feat(tasks): add style for task list
  src/features/CurrentSprint/components/Task.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

feat(tasks): add sort items
  src/stores/tasks.ts
Due: yarn lint:type, yarn lint:script

test(currentSprint): add data test ids
  src/features/CurrentSprint/components/Summary.vue
  src/features/CurrentSprint/components/TaskForm.vue
Due: yarn lint:type, yarn lint:script, yarn lint:style

test(currentSprint): modify tests and add todo
  src/features/CurrentSprint/CurrentSprint.test.ts
  src/utils.ts
  test/setup.ts
Due: yarn lint:type, yarn lint:script

fix(Home): height
  src/App.vue
  src/style.css
Due: yarn lint:type, yarn lint:script, yarn lint:style

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  54ad2a9967256b8f7ccd719874ad881dc45a5e45
Due: none

feat(task): add updating tasks
  src/features/CurrentSprint/components/Summary.vue
  src/features/CurrentSprint/components/Task.vue
  src/features/CurrentSprint/components/TaskForm.vue
  src/features/CurrentSprint/composables/useTaskForm.ts
  src/stores/tasks.ts
Due: yarn lint:type, yarn lint:script, yarn lint:style

chore(currentSprint): move mocks
  src/features/CurrentSprint/mocks.ts
  tsconfig.json
  tsconfig.node.json
Due: yarn lint:type, yarn lint:script
